  <% if image.orientation == "Portrait" %>

    <div class="i-card">
      <div class="i-card-img">
        <%= cl_image_tag image.photo.key, height: 360, width: 240, crop: :fill %>
      </div>

      <div class="i-card-info">
        <p class="i-card-title"><%= image.title %></p>
      </div>
    </div>

  <% else %>

    <div class="i-card">
      <a href="#" title="<%= image.title %>" >
        <%= cl_image_tag image.photo.key, height: 240, width: 360, crop: :fill %>
      </a>
    </div>

  <% end %>