<div class="i-card">

  <% if image.orientation == "Portrait" %>
    <div class="i-card-img">
      <%= cl_image_tag image.photo.key, height: 300, width: 200, crop: :fill %>
    </div>
  <% else %>
    <div class="i-card-img">
      <%= cl_image_tag image.photo.key, height: 200, width: 300, crop: :fill %>
    </div>
  <% end %>

  <div class="i-card-info">
    <p class="i-card-title"><%= image.title %></p>
    <p class="i-card-date"><%= image.date.strftime("#{image.date.day.ordinalize} %B %Y") %></p>
  </div>
</div>