<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>
<% @projects.each do |project| %>
  <%= link_to project_path(project) do %>
    <h2><%= project.title %></h2>
  <% end %>
<% end %>