<h1>Images#index</h1>
<p>Find me in app/views/images/index.html.erb</p>

<% if @images.blank? %>
    There are no images.
  <% else %>
    <% @images.each do |image| %>
      <%= cl_image_tag image.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% end %>

<%= link_to "Add new photo", images_new_path %>
