<h1>Images#index</h1>
<p>Find me in app/views/images/index.html.erb</p>
<% if @images.blank? %>
  There are no images.
<% else %>
  <% @images.each do |image| %>
    <%= render 'shared/index_card', image: image %>
  <% end %>
<% end %>

<p><%= link_to "Add new photo", new_image_path %></p>
<p><%= link_to "Add new Project", new_project_path %></p>
<p><%= link_to "All projects", projects_path %></p>
